<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python</title>
</head>
<body>
{{ user }}
    {% for b in  books %}
        <h1>{{ b.title }}</h1>
        <h2>{{ b.date }}</h2>
        <h3>{{ b.text }}</h3>
        <h3>{{ b.authors.all }}</h3>
        <a href='{% url 'add-like' id=b.id %}'><h3>Likes: {{ b.likes1.count }}</h3></a>
        {% for comment in b.comments.all %}
            <h4>{{ comment.text }}</h4>
            <h5>{{ comment.date }}</h5>
            <h5>{{ comment.author }}</h5>
        {% endfor %}
        <br>
    {% endfor %}
</body>
</html>